body {

    font-family: "Montserrat";

}


#title {
    background-color: #ff4c68;
}

h1 {
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    color: azure;
    font-weight: bold;
}

h2{
    line-height:  3;
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-family: "Montserrat-Bold";
    font-weight: bold;
}

p {
    font-size: "Montserrat-Light";

}

.container-fluid {
    padding: 3% 15%;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 3rem;


}

.navbar-brand {

    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {

    padding: 0 18px;

}

.nav-link {

    font-size: 1.5rem;
    font-size: "Montserrat-Light";

}


/* BUTTONS */

.btn {
    margin: 5% 3% 5% 1%;
    padding: 15px;
}


/* IMAGES */
.tick {
    height: 90px;
    width: 90px;
    margin: 2rem;
}

.tick:hover {
    cursor: pointer;
    background-color: #ef8172;
}


.bullseye {
    height: 90px;
    width: 90px;
    margin: 2rem;
    cursor: pointer;
    
    
}
.bullseye:hover{
    cursor: pointer;
    background-color: #ef8172;
    
}

.love {
    height: 90px;
    width: 90px;
    margin: 2rem;
    cursor: pointer;
}
.love:hover{
    cursor: pointer;
    background-color: #ef8172;
}

.title-image {
    width: 60%;
    transform: rotate(28deg);
    align-items: right;
    /* position: absolute;
    z-index: 1;
    right: 40%; */



}

/* FEATURES SECTION */

#features {

    padding: 7% 15%;
    background-color: white;
     /* position:relative; 
    z-index: -1;  */


}

.feature-box {
    text-align: center;
    padding: 5%;
    position: relative;

}

/* testimonials section */

#testimonials{
    padding: 4% 12%;
    background-color:#ef8172;
    text-align: center;
    color: white;
   
}
.woof{
    text-align: center;
     margin-right: 170px;
    color:burlywood;
    font-size: 4rem;
    
}
.testimonials-image{
    border-radius: 100%;
    margin: 20px;
}

/* PRESS SECTION */

#press{
    background-color: #ef8172;
    padding-bottom: 4%;
    text-align: center;
    
    
}
.press-image{
    width: 12%;
    margin: 20px 20px 50px ;
    padding: 10px;
}

/* PRICING */

.pricing-h2{
    text-align: center;
}

#row{
    padding: 5% 18%;
    
    margin-left: 100px;
    background-color: #fff;
    display: flex;
    
}

.pricing-section{
    padding: 4% 2%;
    background-color: #ff4c68;
    
}
.header-h3{
    color: #ef8172;
    text-align: center;
}


/* Call to Action */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 3% 16%;
    color: #fff;
}

.cta-h3{
    font-family: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    
    
}

.twitter{
    width:  50px;
    height: 50px; 
    padding: 10px;
   
    text-align: center;
    
}



/* Footer */

#footer{
    background-color:#fff;
   text-align: center;
   padding: 2% 10%;
}  
.footer-p{
    
    padding: 4px;
}


 /* Media Queries */

@media (max-width:900px) {

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
    
}